# Why/How to use this notebook

**Why**

PyRate outputs *_sum.txt files for any model run. This has a large list of all possible arguments and their value for that specific run. It's long. Sometimes you want to parse through and find just the non-default arguments responsible for defining the shape of that specific run you're interested in. This nb defines all the default arguments in PyRate, then filters out just the non-default ones used for that run (from the sum.txt)

**How**

Run 3 things:
1. The imports cell below
2. The "Creating Default Flags List" section
3. The "Creating Custom Function" section 

Then start calling the sumtxt_extraction function on any sum.txt files resulting from PyRate

In [10]:
import pandas as pd
import re

## Creating Default Flags List

In [11]:
# A list of lists: the default values of every flag available in PyRate
defaults = [['seed', '-1'], ['useCPPlib', '1'], ['cite', 'False'], ['input_data', '[]'], ['j', '1'],
['trait', '1'], ['logT', '0'], ['N', '-1'], ['wd', '""'], ['out', '""'], ['singleton', '0'],
['frac_sampled_singleton', '0'], ['rescale', '1'], ['translate', '0'], ['d', '""'], ['clade', '-1'], ['trait_file', '""'],
['restore_mcmc', '""'], ['filter', '[inf, 0]'], ['filter_taxa', '""'], ['initDiv', '0'], ['PPmodeltest', 'False'], ['log_marginal_rates', '-1'],
['log_sp_q_rates', 'False'], ['drop_zero', '0'], ['drop_internal', 'False'], ['tree', '""'], ['sampling', '1.0'], ['bdc', 'False'],
['eqr', 'False'], ['plot', '""'], ['plot2', '""'], ['plot3', '""'], ['plotRJ', '""'], ['plotBDNN', '""'],
['plotBDNN_groups', '""'], ['plotBDNN_effects', '""'], ['plotBDNN_transf_features', '""'], ['BDNN_groups', '{}'], ['BDNN_interaction', '""'], ['BDNN_interaction_fix', 'False'],
['n_prior', '100000'], ['plotQ', '""'], ['grid_plot', '0'], ['root_plot', '0'], ['min_age_plot', '0'], ['tag', '""'],
['ltt', '0'], ['mProb', '""'], ['BF', '[]'], ['data_info', 'False'], ['SE_stats', '[]'], ['ginput', '""'],
['combLog', '""'], ['combLogRJ', '""'], ['combBDNN', '""'], ['resample', '0'], ['col_tag', '[]'], ['check_names', '""'],
['reduceLog', '""'], ['n', '10000000'], ['s', '1000'], ['p', '1000'], ['b', '0'], ['fast_burnin', '0'],
['thread', '[0, 0]'], ['A', '4'], ['use_DA', 'False'], ['r', '1'], ['t', '0.03'], ['sw', '100'],
['M', '10'], ['B', '1'], ['T', '1.0'], ['S', '1000'], ['k', '10'], ['a', '0.3'],
['dpp_f', '500'], ['dpp_hp', '2.0'], ['dpp_eK', '2.0'], ['dpp_grid', '1.5'], ['dpp_nB', '0'], ['rj_pr', '1'],
['rj_Ga', '1.5'], ['rj_Gb', '3.0'], ['rj_beta', '10'], ['rj_dm', '0'], ['rj_bd_shift', '0.5'], ['se_gibbs', 'False'],
['pL', '[1.1, 1.1]'], ['pM', '[1.1, 1.1]'], ['pP', '[1.5, 1.1]'], ['pS', '2.5'], ['pC', '1'], ['cauchy', '[-1, -1]'],
['min_dt', '1.0'], ['mHPP', 'False'], ['mL', '1'], ['mM', '1'], ['mC', 'False'], ['mCov', '0'],
['mG', 'False'], ['mPoiD', 'False'], ['mBirth', '-1'], ['mDeath', 'False'], ['mBDI', '-1'], ['ncat', '4'],
['fixShift', '""'], ['qShift', '""'], ['fixSE', '""'], ['ADE', '0'], ['discrete', 'False'], ['twotrait', 'False'],
['bound', '[inf, 0]'], ['partialBD', 'False'], ['edgeShift', '[inf, 0]'], ['qFilter', '1'], ['FBDrange', '0'], ['BDNNmodel', '0'],
['BDNNnodes', '[16, 8]'], ['BDNNfadlad', '0'], ['BDNNtimetrait', '-1'], ['BDNNconstbaseline', '1'], ['BDNNoutputfun', '1'], ['BDNNactfun', '5'],
['BDNNprior', '1'], ['BDNNreg', '[1.0]'], ['BDNNblockmodel', 'False'], ['BDNNtimevar', "['']"], ['BDNNtimevar_q', '""'], ['BDNNads', '-1.0'],
['BDNNpath_taxon_time_tables', "['', '']"], ['BDNNexport_taxon_time_tables', 'False'], ['BDNNupdate_se_f', '[0.6]'], ['BDNNupdate_f', '[0.1]'], 
['BDNNdd', 'False'], ['BDNNpklfile', '""'], ['BDNN_pred_importance', '""'], ['BDNN_nsim_expected_cv', '100'], ['BDNN_pred_importance_interaction', 'True'], 
['BDNN_pred_importance_window_size', '[-1.0]'], ['BDNN_pred_importance_nperm', '100'], ['BDNN_mean_shap_per_group', 'False'],
['edge_indicator', 'False'], ['tT', '1.0'], ['nT', '5'], ['tQ', '[1.2, 1.2]'], ['tR', '1.2'], ['tS', '1.0'],
['fR', '0.5'], ['fS', '0.7'], ['fQ', '0.5'], ['tC', '[0.2, 0.2, 0.15]'], ['fU', '[0.02, 0.18, 0.08]'], ['multiR', '1'],
['tHP', '[1.2, 1.2]']]

# Default values that are = double quotes are acutally outputted as single quotes in sum.txt, so I need to change the "" to '' in defaults
for list in defaults:
    if list[1] == '""':
        list[1] = "''"

defaults

[['seed', '-1'],
 ['useCPPlib', '1'],
 ['cite', 'False'],
 ['input_data', '[]'],
 ['j', '1'],
 ['trait', '1'],
 ['logT', '0'],
 ['N', '-1'],
 ['wd', "''"],
 ['out', "''"],
 ['singleton', '0'],
 ['frac_sampled_singleton', '0'],
 ['rescale', '1'],
 ['translate', '0'],
 ['d', "''"],
 ['clade', '-1'],
 ['trait_file', "''"],
 ['restore_mcmc', "''"],
 ['filter', '[inf, 0]'],
 ['filter_taxa', "''"],
 ['initDiv', '0'],
 ['PPmodeltest', 'False'],
 ['log_marginal_rates', '-1'],
 ['log_sp_q_rates', 'False'],
 ['drop_zero', '0'],
 ['drop_internal', 'False'],
 ['tree', "''"],
 ['sampling', '1.0'],
 ['bdc', 'False'],
 ['eqr', 'False'],
 ['plot', "''"],
 ['plot2', "''"],
 ['plot3', "''"],
 ['plotRJ', "''"],
 ['plotBDNN', "''"],
 ['plotBDNN_groups', "''"],
 ['plotBDNN_effects', "''"],
 ['plotBDNN_transf_features', "''"],
 ['BDNN_groups', '{}'],
 ['BDNN_interaction', "''"],
 ['BDNN_interaction_fix', 'False'],
 ['n_prior', '100000'],
 ['plotQ', "''"],
 ['grid_plot', '0'],
 ['root_plot', '0'],
 ['min_age_plot', '0'],
 ['tag', "''"],
 ['ltt', '0'],
 ['mProb', "''"],
 ['BF', '[]'],
 ['data_info', 'False'],
 ['SE_stats', '[]'],
 ['ginput', "''"],
 ['combLog', "''"],
 ['combLogRJ', "''"],
 ['combBDNN', "''"],
 ['resample', '0'],
 ['col_tag', '[]'],
 ['check_names', "''"],
 ['reduceLog', "''"],
 ['n', '10000000'],
 ['s', '1000'],
 ['p', '1000'],
 ['b', '0'],
 ['fast_burnin', '0'],
 ['thread', '[0, 0]'],
 ['A', '4'],
 ['use_DA', 'False'],
 ['r', '1'],
 ['t', '0.03'],
 ['sw', '100'],
 ['M', '10'],
 ['B', '1'],
 ['T', '1.0'],
 ['S', '1000'],
 ['k', '10'],
 ['a', '0.3'],
 ['dpp_f', '500'],
 ['dpp_hp', '2.0'],
 ['dpp_eK', '2.0'],
 ['dpp_grid', '1.5'],
 ['dpp_nB', '0'],
 ['rj_pr', '1'],
 ['rj_Ga', '1.5'],
 ['rj_Gb', '3.0'],
 ['rj_beta', '10'],
 ['rj_dm', '0'],
 ['rj_bd_shift', '0.5'],
 ['se_gibbs', 'False'],
 ['pL', '[1.1, 1.1]'],
 ['pM', '[1.1, 1.1]'],
 ['pP', '[1.5, 1.1]'],
 ['pS', '2.5'],
 ['pC', '1'],
 ['cauchy', '[-1, -1]'],
 ['min_dt', '1.0'],
 ['mHPP', 'False'],
 ['mL', '1'],
 ['mM', '1'],
 ['mC', 'False'],
 ['mCov', '0'],
 ['mG', 'False'],
 ['mPoiD', 'False'],
 ['mBirth', '-1'],
 ['mDeath', 'False'],
 ['mBDI', '-1'],
 ['ncat', '4'],
 ['fixShift', "''"],
 ['qShift', "''"],
 ['fixSE', "''"],
 ['ADE', '0'],
 ['discrete', 'False'],
 ['twotrait', 'False'],
 ['bound', '[inf, 0]'],
 ['partialBD', 'False'],
 ['edgeShift', '[inf, 0]'],
 ['qFilter', '1'],
 ['FBDrange', '0'],
 ['BDNNmodel', '0'],
 ['BDNNnodes', '[16, 8]'],
 ['BDNNfadlad', '0'],
 ['BDNNtimetrait', '-1'],
 ['BDNNconstbaseline', '1'],
 ['BDNNoutputfun', '1'],
 ['BDNNactfun', '5'],
 ['BDNNprior', '1'],
 ['BDNNreg', '[1.0]'],
 ['BDNNblockmodel', 'False'],
 ['BDNNtimevar', "['']"],
 ['BDNNtimevar_q', "''"],
 ['BDNNads', '-1.0'],
 ['BDNNpath_taxon_time_tables', "['', '']"],
 ['BDNNexport_taxon_time_tables', 'False'],
 ['BDNNupdate_se_f', '[0.6]'],
 ['BDNNupdate_f', '[0.1]'],
 ['BDNNdd', 'False'],
 ['BDNNpklfile', "''"],
 ['BDNN_pred_importance', "''"],
 ['BDNN_nsim_expected_cv', '100'],
 ['BDNN_pred_importance_interaction', 'True'],
 ['BDNN_pred_importance_window_size', '[-1.0]'],
 ['BDNN_pred_importance_nperm', '100'],
 ['BDNN_mean_shap_per_group', 'False'],
 ['edge_indicator', 'False'],
 ['tT', '1.0'],
 ['nT', '5'],
 ['tQ', '[1.2, 1.2]'],
 ['tR', '1.2'],
 ['tS', '1.0'],
 ['fR', '0.5'],
 ['fS', '0.7'],
 ['fQ', '0.5'],
 ['tC', '[0.2, 0.2, 0.15]'],
 ['fU', '[0.02, 0.18, 0.08]'],
 ['multiR', '1'],
 ['tHP', '[1.2, 1.2]']]

In [12]:
# Version directly from PyRate (default values are slightly different, and do not match what is outputted in the *sum.txts)
# For example, default value may be .2, but sum.txt value is 0.2
# # In addition, double quotes in default are acutally single quotes in sum.txt, so they are changed in defaults above 
# Additional edits like removing spaces was needed. Compare the above 

# A list of lists: the default values of every flag available in PyRate
# defaults = [['seed', '-1'], ['useCPPlib', '1'], ['cite', 'False'], ['input_data', '[]'], ['j', '1'],
# ['trait', '1'], ['logT', '0'], ['N', '-1'], ['wd', '""'], ['out', '""'], ['singleton', '0'],
# ['frac_sampled_singleton', '0'], ['rescale', '1'], ['translate', '0'], ['d', '""'], ['clade', '-1'], ['trait_file', '""'],
# ['restore_mcmc', '""'], ['filter', '[inf,0]'], ['filter_taxa', '""'], ['initDiv', '0'], ['PPmodeltest', 'False'], ['log_marginal_rates', '-1'],
# ['log_sp_q_rates', 'False'], ['drop_zero', '0'], ['drop_internal', 'False'], ['tree', '""'], ['sampling', '1.'], ['bdc', 'False'],
# ['eqr', 'False'], ['plot', '""'], ['plot2', '""'], ['plot3', '""'], ['plotRJ', '""'], ['plotBDNN', '""'],
# ['plotBDNN_groups', '""'], ['plotBDNN_effects', '""'], ['plotBDNN_transf_features', '""'], ['BDNN_groups', '{}'], ['BDNN_interaction', '""'], ['BDNN_interaction_fix', 'False'],
# ['n_prior', '100000'], ['plotQ', '""'], ['grid_plot', '0'], ['root_plot', '0'], ['min_age_plot', '0'], ['tag', '""'],
# ['ltt', '0'], ['mProb', '""'], ['BF', '[]'], ['data_info', 'False'], ['SE_stats', '[]'], ['ginput', '""'],
# ['combLog', '""'], ['combLogRJ', '""'], ['combBDNN', '""'], ['resample', '0'], ['col_tag', '[]'], ['check_names', '""'],
# ['reduceLog', '""'], ['n', '10000000'], ['s', '1000'], ['p', '1000'], ['b', '0'], ['fast_burnin', '0'],
# ['thread', '[0,0]'], ['A', '4'], ['use_DA', 'False'], ['r', '1'], ['t', '.03'], ['sw', '100'],
# ['M', '10'], ['B', '1'], ['T', '1.0'], ['S', '1000'], ['k', '10'], ['a', '.3'],
# ['dpp_f', '500'], ['dpp_hp', '2.'], ['dpp_eK', '2.'], ['dpp_grid', '1.5'], ['dpp_nB', '0'], ['rj_pr', '1'],
# ['rj_Ga', '1.5'], ['rj_Gb', '3.'], ['rj_beta', '10'], ['rj_dm', '0'], ['rj_bd_shift', '0.5'], ['se_gibbs', 'False'],
# ['pL', '[1.1, 1.1]'], ['pM', '[1.1, 1.1]'], ['pP', '[1.5, 1.1]'], ['pS', '2.5'], ['pC', '1'], ['cauchy', '[-1, -1]'],
# ['min_dt', '1.'], ['mHPP', 'False'], ['mL', '1'], ['mM', '1'], ['mC', 'False'], ['mCov', '0'],
# ['mG', 'False'], ['mPoiD', 'False'], ['mBirth', '-1'], ['mDeath', 'False'], ['mBDI', '-1'], ['ncat', '4'],
# ['fixShift', '""'], ['qShift', '""'], ['fixSE', '""'], ['ADE', '0'], ['discrete', 'False'], ['twotrait', 'False'],
# ['bound', '[np.inf, 0]'], ['partialBD', 'False'], ['edgeShift', '[np.inf, 0]'], ['qFilter', '1'], ['FBDrange', '0'], ['BDNNmodel', '0'],
# ['BDNNnodes', '[16, 8]'], ['BDNNfadlad', '0'], ['BDNNtimetrait', '-1'], ['BDNNconstbaseline', '1'], ['BDNNoutputfun', '1'], ['BDNNactfun', '5'],
# ['BDNNprior', '1'], ['BDNNreg', '[1.0]'], ['BDNNblockmodel', 'False'], ['BDNNtimevar', '""'], ['BDNNtimevar_q', '""'], ['BDNNads', '-1.0'],
# ['BDNNpath_taxon_time_tables', '["", ""]'], ['BDNNexport_taxon_time_tables', 'False'], ['BDNNupdate_se_f', '[0.6]'], ['BDNNupdate_f', '[0.1]'], 
# ['BDNNdd', 'False'], ['BDNNpklfile', '""'], ['BDNN_pred_importance', '""'], ['BDNN_nsim_expected_cv', '100'], ['BDNN_pred_importance_interaction', 'True'], 
# ['BDNN_pred_importance_window_size', '[-1.0]'], ['BDNN_pred_importance_nperm', '100'], ['BDNN_mean_shap_per_group', 'False'],
# ['edge_indicator', 'False'], ['tT', '1.'], ['nT', '5'], ['tQ', '[1.2,1.2]'], ['tR', '1.2'], ['tS', '1.'],
# ['fR', '.5'], ['fS', '.7'], ['fQ', '.5'], ['tC', '[.2, .2, .15]'], ['fU', '[.02, .18, .08]'], ['multiR', '1'],
# ['tHP', '[1.2, 1.2]']]

# defaults_df = pd.DataFrame(defaults, columns=['Key', 'Default Value'])

In [13]:
defaults_df = pd.DataFrame(defaults, columns=['Key', 'Default Value'])

In [14]:
len(defaults_df)

156

## Creating Custom Function for Comparing sum.txt with Default Flags

In [ ]:
# # Custom function for taking in the *_sum.txt Namespace, making it into a dataframe, merging it with the defaults_df
# # outputting only the non-default flag values used

# def dataframe(namespace):
#     # Turning the namespace string into a list of strings (splitting by comma followed by a space, followed by a letter, UNLESS followed by "inf")
#     data = re.split(r', (?:inf, )*(?=[a-zA-Z])', namespace)

#     # Split each individual string in the list by "=" into key and value --> list of lists
#     split_data = [item.split('=', 1) for item in data]

#     # Make the list of lists into a DataFrame
#     df = pd.DataFrame(split_data, columns=['Key', 'Value'])

#     # Merge with defaults dataframe
#     df = df.merge(defaults_df, how='outer', on='Key')

#     df['Different'] = df['Value'] != df['Default Value']

#     # Save the DataFrame to a CSV file
#     # df.to_csv(f'{name}_sumtxt.csv', index=False)
    
#     return df[df['Different'] == True]

In [ ]:
# def extract_namespace_content(filepath):
#     """
#     Extracts content between parentheses in 'Namespace=()' from a text file
    
#     Args:
#         filepath (str): Path to the text file
        
#     Returns:
#         str: Content between parentheses, or None if not found
#     """
#     try:
#         with open(filepath, 'r') as file:
#             content = file.read()
            
#         # Use regex to locate and extract content inside "Namespace=()"
#         match = re.search(r'Namespace\((.*?)\)', content)
#         if match:
#             return match.group(1)  # Everything inside the parentheses
#         else:
#             return None  # Return None if the pattern is not found
#     except FileNotFoundError:
#         print(f"File not found: {file_path}")
#         return None
#     except Exception as e:
#         print(f"An error occurred: {e}")
#         return None

In [15]:
# Combining those two functions above
def sumtxt_extraction(file_path):
    """
    Combines extracting namespace data from a .txt file with converting it into a DataFrame
    that highlights differences from a default DataFrame.

    Args:
        file_path (str): Path to the .txt file.
        defaults_df (pd.DataFrame): DataFrame containing default values for comparison.

    Returns:
        pd.DataFrame: A DataFrame showing rows where the Value differs from the Default Value.
    """
    def extract_namespace_from_txt(file_path):
        """
        Extracts content within 'Namespace=()' from a .txt file. Returns a namespace string
        """
        try:
            with open(file_path, 'r') as file:
                content = file.read()

            # Use regex to locate and extract content inside "Namespace=()"
            match = re.search(r'Namespace\((.*?)\)', content)
            if match:
                return match.group(1)  # Everything inside the parentheses
            else:
                return None  # Return None if the pattern is not found
        except FileNotFoundError:
            print(f"File not found: {file_path}")
            return None
        except Exception as e:
            print(f"An error occurred: {e}")
            return None

    def dataframe(namespace):
        """
        Converts a namespace string into a DataFrame and highlights differences from default values.
        """
        # Turning the namespace string into a list of strings
        data = re.split(r', (?:inf, )*(?=[a-zA-Z])', namespace)

        # Split each individual string in the list by "=" into key and value --> list of lists
        split_data = [item.split('=', 1) for item in data]

        # Make the list of lists into a DataFrame
        df = pd.DataFrame(split_data, columns=['Key', 'Value'])

        # Merge with defaults dataframe
        df = df.merge(defaults_df, how='outer', on='Key')

        df['Different'] = df['Value'] != df['Default Value']

        return df[df['Different'] == True]

    # Process the file to extract namespace content
    namespace_content = extract_namespace_from_txt(file_path)
    if namespace_content:
        # Pass the extracted namespace to the dataframe function
        return dataframe(namespace_content)
    else:
        print("No 'Namespace()' pattern found in the file.")
        return pd.DataFrame()  # Return an empty DataFrame if no namespace is found

In [65]:
# content = extract_namespace_content('./reptilia/pyrate_mcmc_logs/reptilia_pyrate_1_G_ADE_ADE_sum.txt')
# content

## Using the Custom Function

In [35]:
sumtxt_extraction("synapsida/mcmc_no_predictors/synapsida_pyrate_1_G_BDS_BDNN_8_4Tc_sum.txt")

,Key,Value,Default Value,Different
19,BDNNmodel,1,0,True
20,BDNNnodes,"[8, 4]","[16, 8]",True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
150,translate,175.0,0,True
155,wd,'./synapsida/','',True

In [36]:
sumtxt_extraction("synapsida/mcmc_no_predictors/A_bdnn/synapsida_pyrate_1_G_BDS_BDNN_4_2Tc_sum.txt")

,Key,Value,Default Value,Different
19,BDNNmodel,1,0,True
20,BDNNnodes,"[4, 2]","[16, 8]",True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
150,translate,-175.0,0,True
155,wd,'./synapsida/','',True

In [30]:
sumtxt_extraction('synapsida/mcmc_predictors/old_B_logs/B_covar_rjmcmc_hpp_notranslate/synapsida_pyrate_2_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['.\\data\\synapsida_processed_data\\synapsida...,[],True
78,j,2,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\synapsida_processed_data\\synapsida_...,'',True

In [33]:
# What does BD1-1 indicate?

sumtxt_extraction('synapsida/mcmc_predictors/old_B_logs/B_covar_rjmcmc_hpp_notranslate/synapsida_pyrate_7_COVhp_BD1-1_sum.txt')

# I didn't call this with -A 0, but since the output file has "BD1-1", it must have been run with -A 0
# This is because I used multi-threading. Any -r > 0 will force -A 0, despite the fact that -A 4 is default, even if -A 4 is explicitly called

,Key,Value,Default Value,Different
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
78,j,7,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,2,1,True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/synapsida_processed_data/synapsida_bdn...,'',True
155,wd,'./synapsida/','',True

In [6]:
# B Covar HPP + RJMCMC

sumtxt_extraction('reptilia/mcmc_predictors/B_covar_rjmcmc_hpp/B_covar_rjmcmc_1_5/reptilia_pyrate_1_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['.\\data\\reptilia_processed_data\\reptilia_p...,[],True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\reptilia_processed_data\\reptilia_bd...,'',True

In [24]:
sumtxt_extraction('reptilia/mcmc_predictors/old_B_logs/B_covar_rjmcmc_no_translate_UNFINISHED/reptilia_pyrate_1_G_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
155,wd,'./reptilia/','',True

In [16]:
# B covar HPP + RJMCMC + multi-threading attempt

sumtxt_extraction('reptilia/mcmc_predictors/B_covar_rjmcmc_hpp/reptilia_pyrate_6_COVhp_BD1-1_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,6,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,4,1,True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True

In [18]:
# Syn cov rjmcmc hpp
sumtxt_extraction('synapsida/mcmc_predictors/Covar_hpp/synapsida_pyrate_1_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['.\\data\\synapsida_processed_data\\synapsida...,[],True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\synapsida_processed_data\\synapsida_...,'',True

In [22]:
sumtxt_extraction('synapsida/mcmc_predictors/B_covar_rjmcmc/synapsida_pyrate_2“_B”_G_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
78,j,2,1,True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
102,out,'“_B”','',True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
149,trait_file,'./data/synapsida_processed_data/synapsida_bdn...,'',True
150,translate,-175.0,0,True
155,wd,'./synapsida/','',True

In [9]:
# B_covar_rjmcmc

sumtxt_extraction('reptilia/mcmc_predictors/B_covar_rjmcmc/reptilia_pyrate_1_B_G_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
102,out,'_B','',True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
150,translate,-175.0,0,True
155,wd,'.\\reptilia\\','',True

In [23]:
# B Covar no translate

sumtxt_extraction('synapsida/mcmc_predictors/B_covar_rjmcmc_notranslate/synapsida_pyrate_1_G_COVhprj_sum.txt')

File not found: synapsida/mcmc_predictors/B_covar_rjmcmc_notranslate/synapsida_pyrate_1_G_COVhprj_sum.txt
No 'Namespace()' pattern found in the file.

Empty DataFrame
Columns: []
Index: []

In [6]:
# B Covar no translate

sumtxt_extraction("reptilia/mcmc_predictors/Covar_notranslate/reptilia_pyrate_1_G_COVhprj_sum.txt")

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
155,wd,'./reptilia/','',True

In [20]:
sumtxt_extraction('temnospondyli/mcmc_predictors/Covar_notranslate/temnospondyli_pyrate_1_G_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/temnospondyli_processed_data/temnospo...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/temnospondyli_processed_data/temnospon...,'',True
155,wd,'./temnospondyli/','',True

In [7]:
sumtxt_extraction('./synapsida/mcmc_fixshift_predictors/BDNN/synapsida_pyrate_1_G_BDS_BDNN_16_8TVc_sum.txt')

,Key,Value,Default Value,Different
19,BDNNmodel,1,0,True
27,BDNNtimevar,['./data/env_vars.txt'],[''],True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
149,trait_file,'./data/synapsida_processed_data/synapsida_bdn...,'',True
150,translate,-175.0,0,True
155,wd,'./synapsida/','',True

In [66]:
sumtxt_extraction('./reptilia/pyrate_mcmc_logs/reptilia_pyrate_1_G_ADE_ADE_sum.txt')

,Key,Value,Default Value,Different
1,ADE,1,0,True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
150,translate,-175.0,0,True
155,wd,'./reptilia/','',True

In [ ]:
sumtxt_extraction('./synapsida/mcmc_no_predictors/synapsida_pyrate_1_G_BDS_BDNN_8_4Tc_')

In [6]:
sumtxt_extraction('./reptilia/pyrate_mcmc_logs/reptilia_pyrate_5_G_BDS_BDNN_16_8TVc_sum.txt')

,Key,Value,Default Value,Different
19,BDNNmodel,1,0,True
27,BDNNtimevar,['./data/env_vars.txt'],[''],True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,5,1,True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
150,translate,175.0,0,True
155,wd,'./reptilia/','',True

In [8]:
sumtxt_extraction('./reptilia/pyrate_mcmc_logs/reptilia_pyrate_4_G_BDS_BDNN_16_8TVc_sum.txt')

,Key,Value,Default Value,Different
19,BDNNmodel,1,0,True
27,BDNNtimevar,['./data/env_vars.txt'],[''],True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,4,1,True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
150,translate,175.0,0,True
155,wd,'./reptilia/','',True

In [12]:
sumtxt_extraction('./reptilia/mcmc_predictors/Covar_noqshift_norjmcmc/reptilia_pyrate_9_COVhp_BD1-1_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,9,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,4,1,True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True

In [13]:
sumtxt_extraction('./reptilia/mcmc_predictors/Covar_noqshift_norjmcmc/reptilia_pyrate_7_COVhp_BD1-1_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,7,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,4,1,True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True

In [15]:
sumtxt_extraction('./reptilia/mcmc_predictors/Covar_threaded_rjmcmc/reptilia_pyrate_4_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['.\\data\\reptilia_processed_data\\reptilia_p...,[],True
78,j,4,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\reptilia_processed_data\\reptilia_bd...,'',True

In [18]:
sumtxt_extraction('../../Downloads/reptilia_pyrate_3_G_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,3,1,True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
155,wd,'./reptilia/','',True

In [20]:
sumtxt_extraction('C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_predictors/Covar/temnospondyli_pyrate_1_COVhp_BD1-1_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/temnospondyli_processed_data/temnospo...,[],True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,2,1,True
133,s,10000,1000,True
149,trait_file,'./data/temnospondyli_processed_data/temnospon...,'',True

In [21]:
sumtxt_extraction("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_predictors/Covar_threaded/temnospondyli_pyrate_1_COVhprj_sum.txt")

,Key,Value,Default Value,Different
77,input_data,['.\\data\\temnospondyli_processed_data\\temno...,[],True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\temnospondyli_processed_data\\temnos...,'',True

In [ ]:
sumtxt_extraction('reptilia/mcmc_fixshift_predictors/Covar/reptilia_pyrate_4_G_COVhp_BDS_sum.txt')

,Key,Value,Default Value,Different
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,4,1,True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[6, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
150,translate,-175.0,0,True
155,wd,'./reptilia/','',True

In [25]:
g_cov_10 = sumtxt_extraction("C:/Users/SimoesLabAdmin/Downloads/reptilia_pyrate_10_G_COVhprj_sum.txt")
g_cov_1 = sumtxt_extraction("C:/Users/SimoesLabAdmin/Downloads/reptilia_pyrate_1_G_COVhprj_sum.txt")

# Return only the rows that each dataframe has that the other does not
g_cov_10[~g_cov_10['Value'].isin(g_cov_1['Value'])]

# No translate Covar RJMCMC for -j 10

   Key Value Default Value  Different
78   j    10             1       True

In [26]:
g_cov_10

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,10,1,True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
155,wd,'./reptilia/','',True

In [27]:
g_cov_1

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
155,wd,'./reptilia/','',True

In [29]:
sumtxt_extraction("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/synapsida/mcmc_predictors/Covar_threaded/synapsida_pyrate_1_COVhprj_sum.txt")

,Key,Value,Default Value,Different
77,input_data,['.\\data\\synapsida_processed_data\\synapsida...,[],True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\synapsida_processed_data\\synapsida_...,'',True

In [31]:
sumtxt_extraction("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/synapsida/mcmc_predictors/Covar_hpp/synapsida_pyrate_7_COVhp_BD1-1_sum.txt")

,Key,Value,Default Value,Different
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
78,j,7,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,2,1,True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/synapsida_processed_data/synapsida_bdn...,'',True
155,wd,'./synapsida/','',True

In [32]:
sumtxt_extraction("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/synapsida/mcmc_fixshift_predictors/BDNN/synapsida_pyrate_1_G_BDS_BDNN_16_8TVc_sum.txt")

,Key,Value,Default Value,Different
19,BDNNmodel,1,0,True
27,BDNNtimevar,['./data/env_vars.txt'],[''],True
67,fU,"[0.02, 0.18, 0]","[0.02, 0.18, 0.08]",True
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/synapsida_processed_data/synapsida_py...,[],True
89,mG,True,False,True
98,n,100000000,10000000,True
103,p,2000,1000,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
149,trait_file,'./data/synapsida_processed_data/synapsida_bdn...,'',True
150,translate,-175.0,0,True
155,wd,'./synapsida/','',True

In [33]:
sumtxt_extraction('reptilia/mcmc_predictors/Covar_hpp/reptilia_pyrate_1_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['.\\data\\reptilia_processed_data\\reptilia_p...,[],True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
133,s,10000,1000,True
149,trait_file,'.\\data\\reptilia_processed_data\\reptilia_bd...,'',True

In [34]:
sumtxt_extraction('reptilia/mcmc_predictors/Covar_hpp/reptilia_pyrate_6_COVhp_BD1-1_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
78,j,6,1,True
87,mCov,5,0,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
121,r,4,1,True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True

In [35]:
sumtxt_extraction("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_fixshift_predictors/C_covar/reptilia_pyrate_1_G_COVhp_BDS_sum.txt")

,Key,Value,Default Value,Different
72,fixShift,'./data/Time_bins_ByStages.txt','',True
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[6, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
150,translate,-175.0,0,True
155,wd,'./reptilia/','',True

In [12]:
sumtxt_extraction('reptilia/pyrate_mcmc_logs/reptilia_pyrate_1_B_G_COVhprj_sum.txt')

,Key,Value,Default Value,Different
77,input_data,['./data/reptilia_processed_data/reptilia_pyra...,[],True
87,mCov,5,0,True
89,mG,True,False,True
98,n,100000000,10000000,True
102,out,'_B','',True
104,pC,0.0,1,True
120,qShift,'./data/Time_bins_ByStages.txt','',True
133,s,10000,1000,True
147,thread,"[2, 0]","[0, 0]",True
149,trait_file,'./data/reptilia_processed_data/reptilia_bdnn_...,'',True
150,translate,-175.0,0,True
155,wd,'.\\reptilia\\','',True